@model IEnumerable<BuyMe.Application.Product.Queries.ProductDescriptionDto>
@{
    var productDescriptionDtos = Model.ToArray();
}
@for (int i = 0; i < productDescriptionDtos.Length; i++)
{
    if (productDescriptionDtos[i].CategoryDescription != null)
    {
        <div class="allProductDescs form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input id="Description_@i" value="@productDescriptionDtos[i].Description" />
                <span class="e-float-line"></span>
                <label class="e-float-text e-label-top">@productDescriptionDtos[i].CategoryDescription.Description</label>
                <input type="hidden" id="CategoryDescriptionId_@i" value="@productDescriptionDtos[i].CategoryDescriptionId" />
                <input type="hidden" id="Id_@i" value="@productDescriptionDtos[i].Id" />
                <input type="hidden" id="ProductId_@i" value="@productDescriptionDtos[i].ProductId" />
            </div>
        </div>
    }

}
